################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Ex_Files_Learning_C_Sharp/Exercise Files
