################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Ex_Files_Learning_C_Sharp/Exercise Files
/Module 1/Section1/Module1/.vs/Module1/FileContentIndex/0d310bb1-a277-470f-a5f6-c3bde04740a9.vsidx
